@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import 'bs-scss/bootstrap.scss';
$fuente-principal: 'Titillium Web',
sans-serif;
$color-bg: #e0e0e0;
$color-enfasis: #ff2419;
$color-enfasis-alt: hsl(3,
100%,
60%);
$bk-tablet: 768px;
body {
  font-family: $fuente-principal;
}

.header {
  margin-top: 6rem;
}

.navbar-brand {
  max-width: 30px;
  img {
    max-width: 100%;
  }
}

.testimonio {
  background-color: $color-bg;
}

.info-2,
footer {
  background-color: darken($color-bg, 75%);
  color: $color-bg;
}

textarea {
  resize: none;
}

.contacto {
  background-image: url("../img/img-3.jpg");
  background-size: cover;
}

.card {
  box-shadow: 5px 5px 15px rgba(black, .8);
}

.footer {
  &__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $bk-tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__textos {
    order: 2;
    margin-bottom: .5rem;
    p {
      margin-bottom: 0;
    }
    i {
      margin-right: .5rem;
      color: $color-enfasis;
    }
    @media screen and (min-width: $bk-tablet) {
      order: 1;
      margin-bottom: 0;
    }
  }
  &__iconos {
    order: 3;
    a {
      margin-right: 1rem;
      color: $color-enfasis-alt;
      &:hover {
        color: $color-bg;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    @media screen and (min-width: $bk-tablet) {
      order: 3;
    }
  }
  &__brand {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin-bottom: 0;
    }
    &__logo {
      max-width: 30px;
      margin-right: .5rem;
    }
  }
  @media screen and (min-width: $bk-tablet) {
    order: 2;
  }
}